@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --color-primary: #8c8152;
  --color-secondary: #969696;
  --color-hover: #aeac98;
  --color-background: #efefef;
  --color-secondary-background: #dcd8c4;
  --color-white: #f9f9f9;
  --color-black: #3b3737;
  --color-filter-btn-bg: #79745b;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Monoton", sans-serif;
  --font-tertiary: "Montserrat Subrayada", sans-serif;

  --font-size-large: 86px;
  --font-size-medium-primary-text: 64px;
  --font-size-small-primary-text: 48px;
  --font-size-xsmall-primary-text: 36px;
  --font-size-medium: 54px;
  --font-size-small: 32px;
  --font-size-xsmall: 20px;
  --font-size-text: 16px;
  --font-size-medium-text: 14px;
  --font-size-small-text: 12px;

  --spacing-xsmall: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 30px;
  --spacing-xlarge: 40px;

  --border-radius: 10px;

  --transition-speed: 0.3s;
  --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Default: Large devices (laptops, desktops) - Greater than 1024px */
body {
  color: var(--color-secondary);
  background: var(--color-background);
}

.app {
  display: grid;
  grid-template-rows: [header-start] min-content [header-end];
  grid-template-columns:
    [full-start] 100vw
    [full-end];
  overflow-x: hidden;
}
/* column */
.column {
  display: grid;
  grid-template-columns:
    [full-start] minmax(2em, 1fr)
    repeat(8, [col-start] minmax(min-content, 10em) [col-end])
    minmax(2em, 1fr)
    [full-end];
}

/* row */
.row {
  grid-column: col-start 1 / col-end 8;
  padding: 10rem 0 10rem;
}

.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
  font-weight: 800;
  text-transform: uppercase;
  padding: 0;
}

.hero_row {
  display: flex;
  z-index: 1;
  grid-row: header-start / header-end;
}

.blogs_row-header {
  grid-row: blog-header / blog-headerEnd;
  padding: 8rem 0 8rem;
  z-index: 2;
}

.blogs_row-content {
  padding: 0;
  grid-row: blog-content / blog-contentEnd;
}
.blog-post_row-header {
  grid-row: blogContent-start / blogContent-end;
  padding: 0;
}

/* nav section */
nav {
  grid-row: header-start / header-end;
  grid-column: full-start / full-end;
  z-index: 2;
  height: 75px;
  position: relative;
}
nav::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--color-secondary-background);
}

.nav_logo {
  width: 120px;
  z-index: 3;
}
.nav_logo path {
  fill: var(--color-black);
}

/* nav bar hamburger icon */
.nav_hamburger {
  height: 25px;
  width: 32px;
  z-index: 3;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: all var(--transition-speed) linear;
}

.nav_hamburger:hover span {
  background: var(--color-hover);
}

.nav_hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: var(--border-radius);
  background: var(--color-secondary);
  opacity: 0.6;
}

.nav_hamburger span:nth-child(1) {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav_hamburger span:nth-child(2) {
  transition: transform 0.2s ease-in-out;
}

.nav_hamburger span:nth-child(3) {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav_hamburger.active span {
  background: var(--color-primary);
  opacity: 1;
}

.nav_hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.nav_hamburger.active span:nth-child(2) {
  transform: scaleY(0);
}

.nav_hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/* regular nav bar */
.nav_menu {
  display: flex;
  align-items: center;
  gap: 5vmin;
  color: var(--color-secondary);
  z-index: 3;
}

.nav_menu-item:hover {
  color: var(--color-hover);
}
.nav_menu-item:hover .dropdown_icon path {
  fill: var(--color-primary);
}
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown_menu {
  opacity: 1;
  visibility: visible;
}

.dropdown_btn {
  display: flex;
  align-items: center;
}

.dropdown_icon {
  margin-left: var(--spacing-small);
  height: 15px;
  width: 15px;
}

.dropdown_icon path {
  fill: var(--color-secondary);
}
.dropdown_btn.active {
  color: var(--color-hover);
}
.dropdown_btn.active .dropdown_icon path {
  fill: var(--color-primary);
}
.dropdown_menu {
  visibility: hidden;
  position: absolute;
  /* top: 75px; */
  background: var(--color-white);
  color: var(--color-secondary);
  width: fit-content;
  min-width: 15rem;
  box-shadow: var(--box-shadow);
  z-index: -1;
  margin-right: var(--spacing-large);
  padding: var(--spacing-xlarge) var(--spacing-large);
  /* border-radius: var(--border-radius); */
  opacity: 0;
  transition: all var(--transition-speed) linear;
  transform: translate(-50%, 25px);
  left: 50%;
}

.dropdown_menu-item:not(:last-child) {
  margin-bottom: 1.5rem;
  display: block;
}

/* nav dropdown menu from top */
.nav_menuDrop {
  position: absolute;
  top: 75px;
  width: 100%;
  height: auto;
  z-index: 2;
  padding: 2rem 5rem;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: all var(--transition-speed) linear;
  background: var(--color-white);
  backdrop-filter: blur(2px); /* Apply blur effect */
}

.nav_menuDrop-item {
  margin: var(--spacing-medium) 0;
  font-family: var(--font-primary);
  font-weight: 800;
  text-transform: uppercase;
}

.nav_menuDrop-item:hover {
  color: var(--color-hover);
}
.nav_menuDrop-item:hover .dropdown_icon path {
  fill: var(--color-primary);
}
.nav_menuDrop_menu-link {
  cursor: pointer;
}

.menu_divider {
  height: 3px;
  margin: var(--spacing-small) 0;
  border-radius: 2px;
  width: 0px;
  transition: all 0.4s linear;
  visibility: hidden;
  opacity: 0;
  background: var(--color-hover);
}
.menu_divider.active {
  width: 100%;
}

.nav_menuDrop_subMenu {
  visibility: hidden;
  opacity: 0;
  transition: all var(--transition-speed) linear;
  max-height: 0;
  margin-top: var(--spacing-medium);
  color: var(--color-secondary);
}
.nav_menuDrop_subMenu-item {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-xlarge);
  display: block;
  text-transform: capitalize;
}

/* hero page */
.hero {
  grid-row: header-start / header-end;
  grid-column: full-start / full-end;
  width: 100%;
  position: relative;
  grid-template-rows: [header-start] min-content [header-end];
}

.hero_content {
  width: 100%;
}

.hero_bg {
  grid-row: header-start / header-end;
  grid-column: col-start 1 / col-end 8;
  background-image: url(/assets/images/hero.png);
  background-size: cover;
  z-index: 0;
  background-position: 0 -50px;
  width: 45rem;
  margin-left: auto;
  opacity: 0.75;
}

/* blog */
.blogs {
  grid-row: header-start / header-end;
  grid-column: full-start / full-end;
  height: 100vh;
  grid-template-rows:
    [blog-header] minmax(32rem, 30vw)
    [blog-headerEnd blog-content] min-content [blog-contentEnd];
  z-index: 1;
}
.blogs_bg {
  grid-row: blog-header / blog-headerEnd;
  grid-column: col-start 1 / col-end 8;
  background-image: url(/assets/images/blogs.png);
  background-size: cover;
  z-index: 0;
  background-position: 0% 70%;
  width: 45rem;
  margin-left: auto;
  opacity: 0.85;
  z-index: 1;
}

.blogs_intro {
  width: 50rem;
}
.tags {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: var(--spacing-xsmall);
}
.tags_title {
  font-size: var(--font-size-xsmall);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-black);
  font-family: var(--font-primary);
}

.blogsContent-inner {
  display: grid;
  grid-template-rows: [blog-contentFilter] min-content [blog-cotentFilter-end blog-contentContent] min-content [blog-content-end];
}

.blogsContent-row-top {
  display: flex;
  gap: 2vmin;
  width: 100%;
  font-family: var(--font-primary);
  font-size: var(--font-size-medium-text);
  padding: 10px 0px 20px;
  flex-wrap: wrap;
  max-width: 100%;
}
.filter_btn {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-background);
  padding: 5px 8px;
  background: var(--color-filter-btn-bg);
  border-radius: 5px;
}

.blogsContent-row-bottom {
  display: flex;
  justify-content: space-between;
}

.blogsContent-widgets {
  width: 26%;
}

/* blogs widget */
.blogs_widget {
  background: var(--color-secondary-background);
  padding: 22px 20px;
  border-radius: 10px;
}
.blogs_widget:not(:first-child) {
  margin: 30px 0;
}
.blogs_widget-title {
  font-size: var(--font-size-xsmall);
  font-family: var(--font-primary);
  font-weight: 800;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 03px;
  position: relative;
}
.blogs_divider {
  width: 100%;
  height: 2px;
  background: var(--color-hover);
  margin: var(--spacing-xsmall) 0;
  position: relative;
  z-index: 1;

  border-radius: 2px;
}
.blogs_divider::after {
  content: "";
  background: var(--color-primary);
  width: 30%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.blogs_widget-options {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--color-secondary);
  font-size: var(--font-size-text);
}
.blogs_widget-option {
  margin: 5px 0;
  text-align: left;
}
.search_input {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-xsmall);

  padding: 5px 6px;
  width: 100%;
  background: var(--color-background);
  border-radius: 5px;
  font-family: var(--font-primary);
  height: 2.5rem;
  box-sizing: border-box;
}
.search_input::placeholder {
  font-size: var(--font-size-small-text);
  font-weight: 500;
  padding-left: 5px;
}
.search_input:focus {
  outline: var(--color-white);
}
.search_input:focus-visible {
  outline: none;
}

/* blogs container for all BlogCard */
.blogs_container {
  width: 71%;
}

.card {
  display: flex;
  margin: var(--spacing-medium) 0;
}

.image-container {
  width: 15rem;
  height: 210px;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures that the image covers the entire container, cropping if necessary */
  border-radius: var(--border-radius);
}
.card_right {
  padding: 0px 0px 0px 2vmin;
}
.card_meta {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-small-text);
  gap: var(--spacing-medium);
}
.card_meta-bottom {
  display: flex;
  width: 100%;
  gap: var(--spacing-medium);
}
.card_meta-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card_icon {
  width: 15px;
  height: 15px;
}
.card_icon path {
  fill: var(--color-hover);
}

/* blog post */
.blog-post {
  display: grid;
  grid-template-rows: [header-row] 25rem [header-rowEnd blogContent-start] auto [blogContent-end];
}
.blog-post_bg {
  grid-row: header-row / header-rowEnd;
  grid-column: full-start / full-end;
}
.blog-post_img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures that the image covers the entire container, cropping if necessary */
}
.blogPost_category {
  display: flex;
  padding: 10px 12px;
  border-radius: 10px;
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--color-primary);
  font-size: var(--font-size-small-text);
  margin: 10px 0;
  gap: 5px;
  background-color: var(--color-secondary-background);
}
.blogPost_category span {
  display: flex;
  gap: 2px;
}
.blogPost_content {
  display: flex;
  justify-content: space-between;
  padding: 1vmin 0 5vmin;
}
.blogPost_info {
  width: 71%;
}
.blogPost-widgets {
  width: 26%;
}
.blogPost_meta {
  display: flex;
  align-items: center;
  gap: 3vmin;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-small-text);
}
.blogPost_meta-info {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blogPost_icon {
  width: 15px;
  height: 15px;
}
.blogPost_icon path {
  fill: var(--color-hover);
}
.blogPost_text {
  font-family: var(--font-primary);
  font-weight: 500;
  padding: 30px 0;
}
.blogPostComments {
  background: var(--color-secondary-background);
  padding: 25px 23px;
  border-radius: 10px;
}
.blogPostComment {
  display: grid;
  grid-template-columns:
    [avatar-start]50px[avatar-end content-start]
    minmax(min-content, 100%)
    [content-end];
  gap: 10px;
  padding: 10px 0;
}
.blogPostComment:not(:last-child) {
  border-bottom: 2px solid var(--color-secondary);
}
.blogPostComment_meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: content-start / content-end;
  font-family: var(--font-primary);
  font-size: var(--font-size-medium-text);
}
.blogPostComment_avatar {
  grid-column: avatar-start / avatar-end;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-primary);
  overflow: hidden;
}
.blogPostComment_author {
  font-weight: 600;
  color: var(--color-black);
}
.blogPostCcomment_date {
  font-size: var(--font-size-small-text);
}
.blogPostComment_content {
  padding: 5px 0;
  color: var(--color-filter-btn-bg);
  font-weight: 500;
  transition: all 0.2s linear;
}

/* primary title */
.primary_title {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color-black);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--font-size-large);
}

.hero_primary {
  margin-top: var(--spacing-xlarge);
  max-width: 600px;
  word-wrap: break-word;
}
.blogPost_primary {
  font-size: var(--font-size-medium);
  margin: 10px 0;
  transition: all 0.2s linear;
}

/* secondary title */
.secondary_title {
  font-family: var(--font-tertiary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  color: var(--color-primary);
}

.hero_secondary {
  margin-top: -var(--spacing-large);
}

.blogs_secondary {
  margin-top: -var(--spacing-large);
  line-height: 1;
}

.card_secondary {
  margin-top: var(--spacing-small);
  font-size: var(--font-size-small);
}

/* primary text */
.primary_text {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-text);
}

.hero_text {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 550px;
}

.blogs_text {
  margin-top: 3rem;
  font-size: var(--font-size-xsmall);
  font-weight: 500;
}

.card_text {
  margin-top: var(--spacing-small);
  font-size: var(--font-size-medium-text);
  height: 4.5rem;
}

/* primary button */
.primary_btn {
  font-family: var(--font-primary);
  font-weight: 600;
  text-transform: uppercase;
  background: var(--color-primary);
  color: var(--color-background);
  padding: 15px 18px;
  border-radius: var(--border-radius);
}
.reset_btn {
  background: var(--color-hover);
  padding: 10px 13px;
  font-size: var(--font-size-text);
  margin-left: auto;
}

/* sub menu text */
.subMenu_text {
  font-weight: 600;
  text-transform: capitalize;
}
.subMenu_text:hover {
  color: var(--color-hover);
}

@media only screen and (max-width: 1050px) {
  .card_meta {
    flex-direction: column;
    gap: var(--spacing-xsmall);
  }
}

/* Tablets and smaller laptops */
@media only screen and (max-width: 1024px) {
  /* Styles for devices 1024px and below */
  .nav_hamburger {
    visibility: visible;
    opacity: 1;
    display: flex;
  }

  .nav_menu {
    visibility: hidden;
    opacity: 0;
    display: none;
  }

  .nav_menuDrop.active {
    transform: translateY(0%);
  }

  .nav_menuDrop_subMenu.active {
    transform: translateY(0); /* Adjust as needed for transition effect */
    max-height: 500px;
  }

  .active {
    visibility: visible;
    opacity: 1;
  }

  /* .column {
    grid-template-columns:
      [full-start] minmax(3em, 1fr) repeat(
        8,
        [col-start] minmax(min-content, 14em) [col-end]
      )
      minmax(3em, 1fr) [full-end];
  } */
  .primary_title {
    font-size: var(--font-size-medium-primary-text);
  }
  .blogPost_primary {
    font-size: var(--font-size-medium);
  }

  .secondary_title {
    font-size: var(--font-size-small);
  }
  .card_secondary {
    margin-top: var(--spacing-small);
    font-size: var(--font-size-xsmall);
  }
  .primary_text {
    font-size: var(--font-size-medium-text);
  }
  .card_text {
    font-size: var(--font-size-small-text);
  }
}

@media only screen and (max-width: 950px) {
  .blogsContent-row-bottom {
    flex-direction: column;
  }
  .blogPost_content {
    flex-direction: column;
    gap: 20px;
  }
  .blogs_container,
  .blogsContent-widgets,
  .blogs_intro,
  .blogPost_info,
  .blogPost-widgets {
    width: 100%;
  }
  .blogs_bg {
    width: 35rem;
    grid-column: full-start / full-end;
  }
  .blogPost_primary {
    font-size: var(--font-size-small-primary-text);
  }
}

/* Large mobile devices and small tablets */
@media only screen and (max-width: 768px) {
  /* Styles for devices 768px and below */
  .hero {
    overflow: hidden;
  }
  .hero_bg {
    width: 35rem;
    height: 50rem;
    transform: translate(70px, 70px);
    grid-column: full-start / full-end;
  }
  .hero_text {
    max-width: 500px;
    width: 100%;
  }
}

/* Medium mobile devices */
@media only screen and (max-width: 600px) {
  /* Styles for devices 600px and below */
  .primary_title {
    font-size: var(--font-size-small-primary-text);
  }
  .blogPost_primary {
    font-size: var(--font-size-xsmall-primary-text);
  }
  .blogs {
    grid-template-columns:
      [full-start] minmax(3em, 1fr) repeat(
        8,
        [col-start] minmax(min-content, 10em) [col-end]
      )
      minmax(3em, 1fr) [full-end];
  }
  .blogsContent-row-top {
    width: 100%;
    font-size: var(--font-size-small-text);
  }
  .reset_btn {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: var(--font-size-small-text);
  }
  .card {
    flex-direction: column;
  }
  .image-container {
    width: 80vmin;
    height: 250px;
    margin: 0 auto;
  }
  .card_right {
    text-align: center;
    padding: 0;
  }
  .card_meta-info,
  .card_meta-bottom {
    justify-content: center;
  }
  .blogs_widget {
    padding: 18px 16px;
  }
  .blogs_widget-title {
    font-size: var(--font-size-text);
  }
  .blogs_widget-options {
    font-size: var(--font-size-small-text);
  }
  .blogPost_meta {
    flex-direction: column;
    align-items: start;
  }
  .blogPost_text {
    font-size: var(--font-size-medium-text);
  }
  .blogPostComment_content {
    font-size: var(--font-size-small-text);
  }
}

/* Small mobile devices (e.g., older smartphones) */
@media only screen and (max-width: 480px) {
  /* Styles for devices 480px and below */
  .column {
    grid-template-columns:
      [full-start] minmax(1rem, 1fr) repeat(
        8,
        [col-start] minmax(min-content, 14em) [col-end]
      )
      minmax(1rem, 1fr) [full-end];
  }
  .hero_column {
    position: relative;
  }
  .hero_bg {
    position: absolute;
  }
  .hero_row {
    padding: 7rem 0 9.65rem;
  }
  .primary_title {
    font-size: var(--font-size-xsmall-primary-text);
  }
  .secondary_title {
    font-size: var(--font-size-xsmall);
  }
  .primary_text {
    font-size: var(--font-size-small-text);
  }
  .primary_btn {
    padding: 12px 15px;
    font-size: var(--font-size-medium-text);
  }
  .reset_btn {
    padding: 8px 10px;
    font-size: var(--font-size-small-text);
  }
  .blogPost_primary {
    font-size: var(--font-size-small);
  }
}

/* Extra small mobile devices */
@media only screen and (max-width: 360px) {
  /* Styles for devices 360px and below */
}
